<div class="container nav-container">
    <div class="nav-bar row">
        <div class="col-2 d-md-none hamburger-menu"><mat-icon svgIcon="hamburgerMenu"></mat-icon></div>
        <div class="d-none d-sm-none d-md-block nav-block"><span class="nav-title">Nav 1</span></div>
        <div class="d-none d-sm-none d-md-block nav-block"><span class="nav-title">Nav 2</span></div>
        <div class="d-none d-sm-none d-md-block nav-block"><span class="nav-title">Nav 3</span></div>
        <div class="col col-sm-2 col-md-3 col-xl-6 app-icon"><div><mat-icon svgIcon="app-icon"></mat-icon></div></div>
        <div class="d-none d-sm-none d-md-block nav-welcome">Welcome Adrian<mat-icon class="context-menu-trigger" svgIcon="context-menu-trigger"></mat-icon></div>
    </div>
</div>